<div class='h-full flex flex-col justify-center bg-white text-cyan-800' ...attributes>
  <h2 class='font-bold text-xl pb-4 border-b-2 border-cyan-800 mb-8'>
    Catechisms
  </h2>
  <ul class='flex flex-wrap'>
    {{#each-in this.catechisms as |id title|}}
      <li class="w-1/2">
        <LinkTo
          @route='catechism'
          @model={{id}}
          class='block my-2 py-2 mx-4 px-3 border-2 border-cyan-800 bg-transparent text-cyan-800 font-bold'
          data-catechism-link
          {{on 'click' (fn this.trackLink id)}}
        >
          {{title}}
        </LinkTo>
      </li>
    {{/each-in}}
  </ul>

  <h2 class='font-bold text-xl pt-8 pb-4 border-b-2 border-cyan-800 mb-8'>
    Confessions
  </h2>
  <ul class='flex flex-wrap'>
    {{#each-in this.confessions as |id title|}}
      <li class="w-1/2">
        <LinkTo
          @route='confession'
          @model={{id}}
          class='block my-2 py-2 mx-4 px-3 border-2 border-cyan-800 bg-transparent text-cyan-800 font-bold'
          data-catechism-link
          {{on 'click' (fn this.trackLink id)}}
        >
          {{title}}
        </LinkTo>
      </li>
    {{/each-in}}
  </ul>
</div>