<div class='h-full max-h-screen flex flex-col'>
  <TopBar @name={{@name}} class="sticky md:static" />

  <main class='grow md:overflow-y-scroll'>
    {{#if (has-block "half1")}}
      <div class='h-full flex flex-col'>
        <div class="md:flex md:h-full min-h-0">
          <section class="md:w-1/2 md:h-full border-r border-black">
            {{yield to="half1"}}
          </section>
          {{#if (has-block "half2")}}
            <section class="md:w-1/2 md:h-full">
              {{yield to="half2"}}
            </section>
          {{/if}}
        </div>
      </div>
    {{else if (has-block "third1")}}
      <div class='h-full flex flex-col'>
        <div class="md:flex md:h-full min-h-0">
          <section class="md:w-1/3 md:h-full border-r border-black">
            {{yield to="third1"}}
          </section>
          {{#if (has-block "third3")}}
            <section class="md:w-1/3 md:h-full border-r border-black">
              {{yield to="third2"}}
            </section>
            <section class="md:w-1/3 md:h-full">
              {{yield to="third3"}}
            </section>
          {{else if (has-block "third23")}}
            <section class="md:w-2/3 md:h-full border-r border-black">
              {{yield to="third23"}}
            </section>
          {{/if}}
        </div>
      </div>
    {{else if (has-block 'error')}}
      <div class="h-full w-full flex justify-center items-center">
        <div class="rounded border-4 border-red-200 bg-red-100 text-red-800 px-8 py-2">
          {{yield to="error"}}
        </div>
      </div>
    {{else if (has-block)}}
      {{yield}}
    {{/if}}
  </main>

  <footer class='p-6 bg-black flex justify-between text-white'>
    <div>Made with ♥ by <a href="https://github.com/steveszc" target="_blank" rel="noopener noreferrer">steveszc</a></div>
    <a href="https://github.com/steveszc/catechism" target="_blank" rel="noopener noreferrer">Contribute on GitHub</a>
  </footer>
</div>