<div class='h-full max-h-screen flex flex-col'>
  <TopBar @name={{@name}} />

  <main class='grow md:overflow-y-scroll'>
    {{#if (has-block "splitA")}}
      <div class="md:flex md:h-full">
        <section class="md:w-1/2 md:h-full">
          {{yield to="splitA"}}
        </section>
        <section class="md:w-1/2 md:h-full">
          {{yield to="splitB"}}
        </section>
      </div>
    {{else if (has-block)}}
      {{yield}}
    {{/if}}
  </main>

  <footer class='p-6 bg-black flex justify-between text-white'>
    <div>Made with ♥ by <a href="https://github.com/steveszc" target="_blank" rel="noopener noreferrer">steveszc</a></div>
    <a href="https://github.com/steveszc/catechism" target="_blank" rel="noopener noreferrer">Contribute on GitHub</a>
  </footer>
</div>