<article class="flex flex-col justify-between" ...attributes>
  <div class="grow flex flex-col justify-center items-start">
    <h1 class="text-lg font-bold">Question {{@data.number}}</h1>

    <p class="py-2 mb-6 text-2xl font-bold border-b border-black" data-test="question">
      {{if @data.questionWithProofs @data.questionWithProofs @data.question}}
    </p>

    <div>
      {{#unless @isAnswerShown}}
        <button
          type="button"
          class="absolute py-2 px-6 my-2 border-2 border-cyan-800 bg-transparent text-cyan-800 font-bold"
          {{on "click" this.showAnswer}}
          data-test="show-answer"
        >
          Show answer
        </button>
      {{/unless}}
      <div class="pb-16 {{unless @isAnswerShown 'invisible'}}" data-test="answer">
        {{#if @data.answerWithProofs}}
          <p class="py-4 text-lg">{{this.htmlSafe this.formattedAnswerWithProofs}}</p>
        {{else}}
          {{#if (this.isStringAnswer @data.answer)}}
            <p class="py-4 text-lg">{{@data.answer}}</p>
          {{else}}
            <p class="py-4 text-lg"><strong>Children:</strong> {{@data.answer.children}}</p>
            <p class="py-4 text-lg"><strong>Adult:</strong> {{@data.answer.adult}}</p>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>

  <div>
    {{#if this.spotifyId}}
      <iframe title="Spotify" class="rounded-xl" src="https://open.spotify.com/embed/track/{{this.spotifyId}}?theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    {{/if}}
  </div>
</article>
