{{page-title this.title}}

<Layout @name={{@model.catechism.metadata.title}}>
  <:half1>
    <div class="h-full flex flex-col">
      <CatechismNav @previous={{@model.previous}} @next={{@model.next}} class="sticky md:static top-0" />
      <Question
        class="p-16 grow"
        @data={{@model.current}}
        @isAnswerShown={{this.isAnswerShown}}
        @showAnswer={{this.showAnswer}}
      />
    </div>
  </:half1>
  <:half2>
    <div class="h-full flex flex-col">
      <QuestionNav class="sticky md:static top-0" />
      <article class="overflow-y-scroll p-16">
        {{outlet}}
      </article>
    </div>
  </:half2>
</Layout>
