{{page-title this.title}}

<Layout @name={{@model.catechism.metadata.title}}>
  <div class='h-full max-h-full flex flex-col'>
    <div class='flex'>
      <CatechismNav class="w-1/2 border-r border-black" @previous={{@model.previous}} @next={{@model.next}} />
      <QuestionNav class="w-1/2" />
    </div>

    {{#if @model.current}}
      <Question
        @data={{@model.current}}
        @isAnswerShown={{this.isAnswerShown}}
        @showAnswer={{this.showAnswer}}
      >
        {{outlet}}
      </Question>
    {{/if}}
  </div>
</Layout>