{{page-title this.title}}

<Layout @metadata={{@model.catechism.metadata}}>
  <:half1>
    <div class="h-full flex flex-col">
      <CatechismNav @previous={{@model.previous}} @next={{@model.next}} @catechismId={{@model.catechism.id}} class="sticky md:static top-0" />
      <Question
        class="p-8 md:p-16 grow"
        @catechismId={{@model.catechism.id}}
        @data={{@model.current}}
        @isAnswerShown={{if this.settings.alwaysShowAnswers this.settings.alwaysShowAnswers this.isAnswerShown}}
        @showAnswer={{this.showAnswer}}
      />
    </div>
  </:half1>
  <:half2>
    <div class="h-full flex flex-col">
      <QuestionNav @catechismId={{@model.catechism.id}} @questionNumber={{@model.current.number}} class="sticky md:static top-0" />
      <article class="overflow-y-scroll p-8 md:p-16">
        {{outlet}}
      </article>
    </div>
  </:half2>
</Layout>
